@page "/"
@using Orrery
<PageTitle>Planet Positions</PageTitle>

<h1>Plot Planet Positions</h1>

Fill in the form with your latitude and longitude,<br/>
with the starting and ending date, the interval between<br/>
planet positions plots, and your selection of heavenly<br/>
bodies. Press 'Submit' to see your plot.

<EditForm Model=@OrbitParams OnSubmit=@NewParamsSubmitted>
    <DataAnnotationsValidator />
    <div class="form-group row">
        <div class="col p-3">
        <label for="Lat">Observer Latitude</label>
        <InputNumber @bind-Value=OrbitParams.Latitude 
                     ParsingErrorMessage="Must be a number of degrees" 
                     class="form-control"
                     id="Lat"/>
        </div>
        <div class="col p-3">
        <label for="Long">Observer Longitude</label>
        <InputNumber @bind-Value=OrbitParams.Longitude 
                     ParsingErrorMessage="Must be a number of degrees" 
                     class="form-control"
                     id="Long"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col p-3">
        <label for="Start">Start of display period</label>
        <InputDate @bind-Value=OrbitParams.Start 
                   ParsingErrorMessage="Must be a valid date" 
                   class="form-control"
                   id="Start"/>
        </div>
        <div class="col p-3">
        <label for="End">End of display period</label>
        <InputDate @bind-Value=OrbitParams.End 
                   ParsingErrorMessage="Must be a valid date" 
                   class="form-control"
                   id="End"/>
        </div>
        <div class="col p-3">
        <label for="Interval">Time interval between plot points</label>
        <InputSelect @bind-Value=OrbitParams.Interval 
                     ParsingErrorMessage="Please select an interval"
                     class="form-control"
                     id="Interval">
            <option value="year">Year</option>
            <option value="week">Week</option>
            <option value="sidereal">Sidereal Day</option>
            <option value="day">Earth Day</option>
            <option value="hour">Hour</option>
            <option value="minute">Minute</option>
        </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <div class="col p-3">
        <CheckList Columns="5" 
                   Data="@planetNames" 
                   TextField="@((t)=>t)" 
                   ValueField="@((t)=>t)"
                   SelectedValues="@selectedPlanets"/>
    
        </div>
    </div>
    <div class="form-group row">
        <div class="col p-3">
        <ValidationSummary/>
        <input type="submit" value="Submit" class="btn btn-primary p-3"/>
        </div>
    </div>
</EditForm>
<div>
    @SvgData
</div>
@code
{
    Data.OrbitParams OrbitParams = new Data.OrbitParams();
    List<string> selectedPlanets = new List<string>();

    protected override void OnInitialized()
    {
        // Set up your defaults for starting values here

        OrbitParams.Latitude = 51.86; // Gloucester
        OrbitParams.Longitude = 2.24;
        OrbitParams.Start = DateTime.Today;
        OrbitParams.End = DateTime.Today.AddDays(365.25);
        OrbitParams.Interval = "week";
        selectedPlanets.Add("Sun");

        base.OnInitialized();
    }

    List<string> planetNames = CelestialBody.BodyNames.Where(n => n != "Earth").ToList();
    void NewParamsSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        if(formIsValid)
        {
            SvgData = new MarkupString(OrbitParams.GetSkySvg(selectedPlanets));
        }
    }

    MarkupString SvgData = new MarkupString();
}
